{%extends display.mvc%}
{%block body_def%}
<div class="topic light1">
 <div class="body row">
  <div class="span7">
{%if global.login%}
   <a href="{{url.MainService}}/logout" class='button negative'>{%trans "Logout"%}</a>
{%else%}
   <a href="{{url.LoginService}}/login" class='button positive'>{%trans "Login"%}</a>
{%endif%}


  </div>
  <div class="span5">
   <h2>{%trans "Talambar"%}</h2>
  </div>
 </div>

   <h3 id="slogan">{%trans "Security. Privacy. Simply."%}</h3>
	 <select id="langlist">
	{%for key, value in global.langlist%}{%if key == global.lang%}
	  <option class="{{key}}" value="{{key}}" selected="selected">{{value}}</option>
	{%else%}
	  <option value="{{key}}">{{value}}</option>
	{%endif%}{% endfor %}
	 </select>

</div>
{%endblock%}