{%extends display.mvc%}
{%block body%}
<div class="container">
 <div class="row auto">
   <section class="span4 offset1">
    <header>
     <img id='logo' src="{{url.static}}images/logo.svg" alt='{%trans "talambar logo"%}'>
     <h1>{%trans "Talambar"%}</h1>
     <h2>{{site.desc}}</h2>
    </header>
{%if global.login%}
   <a href="http://{{url.raw}}/files" data-direct class='button primary'>{%trans "Files"%}</a>
   <a href="{{url.MainService}}/logout" data-direct class='btnlogin button negative'>{%trans "Logout"%}</a>
{%else%}
    <div class='buttons'>
     <div>
       <a data-action href='{{url.base}}features' class="button">{%trans "Learn more"%}</a>
       <div class='or' data-text='{%trans "or"%}'></div>
       <a data-action href='{{url.LoginService}}/signup' class='button signup'>{%trans "Signup"%}</a>
     </div>
    </div>
    <a data-direct href="{{url.LoginService}}/login" class='button primary'>{%trans "Login"%}</a>
{%endif%}
   </section>
  <div class="span7" id='slogan'>
   <img src="{{url.static}}images/slogan.png" alt='{%trans "Security. Privacy. Simply."%}'>
  </div>
 </div>


</div>
{%endblock%}