
#header{background: url('../images/pattern.png') repeat;height: 60px;width: 100%;position: relative;padding:0;overflow: hiddens}
#header > div{float:left;margin-right:30px;}
#header .logo img{width:40px;margin:5px;}
#header .logo span{line-height:60px;font-size:2em;}

#header .controls a{margin:0 1px;}
#header .controls .bottom{position:absolute;bottom: 3px;}
#header .controls .fa-upload{color: #d04332;}
#header .controls .fa-folder{color: #d2b43e;}
#header #breadcrumb-wrapper{padding:5px 0;}
.labeled.icon.button > .icon {font-size: 1.2em}

.rtl #header > div{float:right;}
.rtl #header .logo img{float:left;}
.rtl #header .logo span{margin-right:15px;}


/* Tree */
.tree,.tree ul{margin:0;padding:0;list-style:none}
.tree ul{margin-left:1em;position:relative}
.tree ul ul{margin-left:.5em}
.tree ul:before{content:"";display:block;width:0;position:absolute;top:0;bottom:0;left:0;border-left:1px solid}
.tree li{margin:0;padding:0 1.5em;line-height:2em;color:#369;font-weight:700;position:relative}
.tree ul li:before{content:"";display:block;width:10px;height:0;border-top:1px solid;margin-top:-1px;position:absolute;top:1em;left:0}
.tree ul li:last-child:before{background:#fff;height:auto;top:1em;bottom:0}

.rtl .tree ul{margin-left:0;margin-right:1em;}
.rtl .tree ul ul{margin-left:0;margin-right:.5em}
.rtl .tree ul:before{left:auto;border-left:none;right:0;border-right:1px solid}
.rtl .tree ul li:before{left:auto;right:0}

.files-box{
	padding: 0;
}

.files-box .span10{border-top: 1px solid #B64436;
border-left: 1px solid #eee;
 box-sizing: border-box;
}







/*-------------------------
	Breadcrumps
-------------------------*/
.fbreadcrumb{margin:0;padding:0;float:left}
.fbreadcrumb,.fbreadcrumb a{color:#7c7c7c;background:none;font-size:13px}
.fbreadcrumb a:hover,.fbreadcrumb li:last-child a{color:#56ba87}
.fbreadcrumb li{float:left;display:inline;margin-left:5px}
.fbreadcrumb .fa{font-size:10px;margin-right:5px}

.rtl .fbreadcrumb li{float:right;margin-right:5px;margin-left:0}
.rtl .fbreadcrumb .fa{margin-left:5px;margin-right:0}

