#languages{position: fixed;bottom: 10px;left: 10px;}
.rtl #languages {right:10px;left: auto;}

#logo {width:100px;position: absolute;top: 0;left: -100px;right: 150px;}

.relative{position: relative}
.btnlogin{position: relative;margin-top:100px;}

